@import 'bootstrap';
@import 'compass/css3';
@import 'compass/typography';

$grey-link: #7f8289;
$grey-text: #727272;
$border-color: #e3e3e3;
$lime: #1ae27a;
$dark: #313131; 

* {
	@include transition(all 52ms ease-in-out);
}

html, body {
	width: 100%;
	height: 100%;
}
#project { overflow: hidden;}
.container{
	padding-top: 55px;
	padding-bottom: 55px;
}
.social-icon {
	@include inline-block-list;
	padding: 15px 0;
}
.nav-tabs {
	@extend .social-icon; 
}
.lime-button {
	background: $lime;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding-left: 18px;
	padding-right: 18px;
	
	line-height: 20px;
	margin-top: 30px;
	&:hover {
		background:shade( $lime, 10% );
	}
	&:focus {
		outline: none;
		border: none;
	}
}

@mixin bg($main-bg-url) {	
	text-align: center;
	background: {
		image: url('../images/' + $main-bg-url) ;
		repeat: no-repeat;
		position: center;
		attachment: fixed;
	}
	@include background-size(cover);
	
	.mask {
		background:url(../images/pattern-black.png);
		background-color: rgba(0,0,0, .5);
		&.white {
			background:url(../images/pattern-white.png);
			background-color: rgba(255, 255, 255, .75);
		}
	}
}

.wall-header {
	font-size: 64px; line-height: 72px;
	text-transform: uppercase;
	color: $dark;
	font-weight: 200;
	margin-bottom: 55px;
	text-align: center;
	position: relative;	
	@include user-select(none);
	&:after{
		position: absolute;
		content: '';
		width: 110px;
		height: 1px;
		background: $lime;
		left: 45%;
		bottom: -10px
	}
	&.white {
		color: white;
		&:after{
			background: white;
		}
	}
}


// ########################## CAROUSEL #########################
#myCarousel{
	margin-bottom: 70px;
}
// ########################## PORTFOLIO #########################
#portfolio {
	overflow: hidden;
	[class^="col-"]{
		margin: 0;
		padding: 0;
	}
	.row {margin: 0;}
	figure {
		position: relative;
		display: block;
		overflow: hidden;
		img {
			@include transition(all 2s ease-in-out);
		}
		figcaption {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			content: '';
			z-index: 30;
			background: rgba(0, 0, 0, .72);
			color: #fff;
			text-align: center;

			@include transparent;
			@include scale(0, 0);
			@include transition(all 8ms ease-in-out);
			padding: 0 35px;

			.work-prew{
				display: inline-block;
				width: 70px; height: 70px; line-height: 70px;
				@include border-radius(50%);
				border: 1px solid $lime;
				font-size: 34px;	
				margin-top: 20%;
				margin-bottom: 30px;
				color: $lime;
				@include transform(translate(0px));
				@include transition(all 1s ease-in-out);
				@media screen and (max-width: $screen-sm){
					width: 50px; height: 50px; line-height: 50px;
					font-size: 22px;
				}				
			}
			p {
				font-size: 22px;
				line-height: 24px;
				font-weight: 200;
				text-transform: uppercase;
				@include transform(translateY(70px));
				@include transition(all 1s ease-in-out);
			}
		}
		&:hover {
			img { @include scale(1.5, 1.5); }
			figcaption {
				@include opaque;
				@include scale(1,1);
				.work-prew { 
					@include transform(translate(10px));
					&:hover {
						color: adjust-lightness($lime, 20%);
					}
				}
				p {
					@include transform (translateY(0px));
				}
			}			
		}
	}
}
// ########################## PROCESS #########################
#process {
	background-color: $lime;
	text-align: center;
	.process-wrap {
		position: relative;
		@include inline-block-list;
		li {
			position: relative;
			color: #fff; line-height: 24px; 
			text-transform: uppercase; 			
			margin: 0%;
			padding: 0 25px;
			i{
				width: 90px; height: 90px; line-height: 90px;
				background-color: #fff; color: $dark; 
				position: relative;
				@include border-radius(50%);
				font-size: 34px;
				margin-bottom: 30px;
				&:hover, &.hover { background-color: $dark; color: #fff;}
			}
			&:before {
				content: '';
				position: absolute;
				top: 45px; left: 0; right: 0; bottom: 0;
				background-color: gray;
				width: 100%;
				height: 1px;
				background-color: $lime;
				background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255,255,255, 0) 50%);
				background-size: 5px 5px;
			}
			&:after {
				content: '>';
				font-size: 22px;
				color: #fff;
				position: absolute;
				top: 31px; right: 0; 
			}

		}
		.first, .last { font-size: 20px; line-height: 24px; position: relative; top: -45px;}
		.first { color: #fff; left: 10px;} .last { color: $dark; left: -10px;}
	}
}

// ########################## QUOTE #########################
#quote {
	@include bg('cactus.jpg');
	&:before {background-color: rgba(255, 255, 255, .75);}
	i {font-size: 72px; color: $lime; }
	p { font-size: 52px; color: $dark; font-weight: 200; }
	span { font-size: 34px; color: adjust-lightness($dark, 20%); }
}
// ########################## TEAM #########################
#team {
	.team-wrap {
		border: 1px solid $border-color;
		padding: 0px 15px 20px;	
		@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
			max-width: 55%;
		}
		//max-width: 70%;
		margin: 15px auto;	
		@include transition(all 75ms ease-in);
		
		figure {
			overflow: hidden;
			margin: 0 -15px 20px;
			position: relative;
			figcaption {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				@include transform(translateY(70px));
				@include transition(all 80ms ease-in);
				.social-icon {
					text-align: center;	
					li{	
						margin: 0 2%;			
						a{
							@include inline-block;
							@include border-radius;
							background-color: rgba(255, 255, 255, .9);
							color: $lime;
							width: 40px; height: 40px; line-height: 40px;
						}
					}
				}
			}
		}		
		h3 {font-weight: 200; margin: 0; }
		span {
			display: inline-block;
			color: $lime;
			margin-bottom: 20px;
			font-weight: 400;
		}		
		&:hover {
			background-color: $lime;
			color: #fff;
			figcaption {
				@include transform(translateY(0px));
				.social-icon {
					a:hover {
						@include transform(translateY(-5px));
					}
				}
			}
			img {
				@include scale(1.2, 1.2);
			}
			span {
				color: #fff;
			}			
		}

	}
	.add-wrap{
		padding: 0 15px;
		text-align: center;
		margin-top: 50%;
		.add {
			margin: 15px 0;
			font-size: 72px;
			width: 100%;
			height: 100%;
			display: inline-block;
			text-align: center;
			color: $lime;
			&:hover{
				@include scale(1.2, 1.2);
			}
		}
	}
}

// ########################## FACTS #########################
#facts {
	@include bg('razz.jpg');
	//&:before {background-color: rgba(255, 255, 255, .75);}
	.wall-header {color: adjust-lightness($dark, 15%);}
	h2 {
		font-size: 72px; font-weight: 200; color: $lime;
	}
	p {
		font-size: 20px;
	}
}
// ########################## POSTS #########################
#posts {
	text-align: center;
	article {
		text-align: left;
		color: $grey-text;
		margin-bottom: 30px;
		h3 {font-weight: 400; margin: 18px 0 5px; }
		.post-info {
			color: adjust-lightness($grey-text, 15%);
			margin-bottom: 30px;
			font-weight: 400;
		}
		.read-more {
			color: $lime;
			font-weight: 600;
			&:hover { color: shade($grey-text, 30%); }
		}
	}
	.btn {
		@extend .lime-button;
		margin: 30px auto;
		font-size: 22px;
		padding: 10px 24px;
		text-align: center;			
	}
}
// ########################## PRICING TABLE #########################
#pt {
	@include bg('strawbarry.jpg');
	.wall-header {color: adjust-lightness($dark, 15%);}
	.pt-wrap {
		display: inline-block;
		width: 270px;
		border: 1px solid $border-color;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #fff;
		color: $grey-link;
		.pt-item {
			border-bottom: 1px dotted $border-color;
			font-size: 18px;
			padding-bottom: 8px;
			margin-bottom: 10px;
		}
		.pt-icon {
			font-size: 43px;
			padding: 20px;
			background:$dark;
			color: #fff;
		}
		.pt-title {
			font-size: 24px;
			margin-top: 20px;
			font-weight: 600;
		}
		.price {
			font-size: 43px; line-height: 43px; font-weight: 200;
			margin-bottom: 30px;			
		}
		.btn {
			@extend .lime-button; 			
		}
		&.active, &:hover {
			background:$lime;
			color: #fff;
			.pt-icon,  .btn{
				color: $lime;
				background: #fff;
			}			
		}

	}
}
// ########################## BRAND #########################
#brand{
	background:$lime;
	position: relative;
	padding: 55px 25px;
	text-align: center;
	img { @include inline-block; margin: 18px; }
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background: url('../images/pattern-white.png');
	}
}

// ########################## CONTACT #########################
#contact {
	@include bg('contact.jpg');	
	//&:before {background-color: rgba(0,0,0, .5);}
	
	input, textarea {
		background: transparent;
		border: 1px solid shade($border-color, 10%);
		@include border-radius;
		padding: 8px 18px;
		margin-bottom: 18px;
		line-height: 27px;
		width: 90%;
		color: white;
		@include input-placeholder {
			color: white; 
		}
		&[type="submit"] {
			background:$lime;
			color: white;
			border: none;
			text-transform: uppercase;
			&:hover { background-color: shade($lime, 10%); }
			&:focus { border: none; }
		}
		&:focus {
			outline: none;
			border: 1px solid white;
			@include input-placeholder {
				@include opacity(.5);
			}
		}
	}
	h3 { 
		text-transform: uppercase;
		color: $border-color;
		text-align: left;
		margin: 0;
	}
	p { text-align: left; color: $lime; font-size: 20px; margin-bottom: 34px;}

}

// ########################## FOOTER #########################
footer {
	color: $grey-text;
	text-align: center;
	.social-icon {
		margin-bottom: 15px;
		border-bottom: 1px solid $border-color;
		li{
			margin: 1%;
			a{
				font-size: 34px; line-height: 43px;
				@include link-colors($grey-link, $lime, $lime, $grey-link, $lime);
			}
		}
	}
	.author {
		color: $lime;
		&:hover {
			color: shade($lime, 10%);
		}
	}

}